_build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
*.a
*.dylib
.DS_Store
TARGETS
moqrelayserver
moqchatclient
moqchatserver
moqtextclient
moqdateserver
*.cmake
certs/
node_modules/
package.json
package-lock.json
DartConfiguration.tcl
moxygen/test/
